{% extends 'base.html.twig' %}

{% block title %}Newsletter{% endblock %}

{% block stylesheets %}
	 {# inclus le block CSS commun #}
	 {{ parent() }}
	 {# Insertion du fichier JS dans le block stylesheets #}
	 {# La documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
	 <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block body %}

<div class="container">

	<div class="titre">
        <span class="titre2">
            <strong>Newsletter</strong>
        </span>
    </div>

	<div class="container">

		<div class="cadre">
			<div class="col-12">
				<div class="" style="">
					<iframe
						class="container-sm mj-w-res-iframe d-block cadre2"
						height="600px"
						frameborder="0"
						scrolling="no"
						marginheight="0"
						marginwidth="80px"
						src="https://phplist.association-transhepate-bfc.org/?p=subscribe&id=1"
						width="200px">
					</iframe>
				</div>
				<div class="mt-3">
					<a class="bouton-RaL"
						href="{{ path('app_main_home') }}">
						<strong>Retour à l'accueil</strong>
					</a>
				</div>
			</div>
		</div>

	</div>

</div>

{% endblock %}