{% extends 'base.html.twig' %}

{% block title %}Newsletter{% endblock %}

{% block stylesheets %}
	 {# inclus le block CSS commun #}
	 {{ parent() }}
	 {# Insertion du fichier JS dans le block stylesheets #}
	 {# La documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
	 <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block body %}

<div style="height:900px;">

	<div class="my-5 text-center">
        <span class="bg-light fs-2 px-3 py-3 fst-italic text-uppercase"
            style="color:rgb(0,137,45);border:solid 5px #229296;border-radius:25px;">
            <strong>Newsletter</strong>
        </span>
    </div>

	<div class="container col-8">

		<div class="mt-5" style="border:solid 25px #73e0ed;border-radius:50px;">
			<div class="col-12"
				<div class="bg-light" style="border-radius:25px;">
					<iframe
						class="container-sm mj-w-res-iframe d-block py-5 px-3"
						style="border-radius:25px;background-color:#5fe9be;"
						height="650px"
						frameborder="0"
						scrolling="no"
						marginheight="0"
						marginwidth="80px"
						src="https://phplist.association-transhepate-bfc.org/?p=subscribe&id=1"
						width="200px">
					</iframe>
				</div>
			</div>
		</div>

		<div class="mt-3 iframe text-center">
			<a class="text-decoration-none text-light fs-4 fst-italic py-2 px-3 m-5 iframe"
				style="border:solid 2px #73e0ed;background-color:#229296;border-radius:25px;"
				href="{{ path('app_main_home') }}">
				<strong>Retour à l'accueil</strong>
			</a>
		</div>

	</div>

</div>

{% endblock %}