{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<section class="container my-3" style="height:600px;">
    <div class="row">
        <div class="col">
            <h1 class="text-light fst-italic my-5 text-decoration-underline"><strong>Réinitialisation du mot de passe</strong></h1>
            {{ form_start(passForm, {'attr': {'class': 'style-form'}}) }}
                {{ form_row(passForm.password, {'attr': {'class': 'style-form2'}}) }}
                <button type="submit" class="btn btn-warning my-5 fs-4 px-5 py-1 fst-italic" style="border-radius:25px;"><strong>Envoyer</strong></button>
            {{ form_end(passForm) }}
        </div>
    </div>
</section>

{% endblock %}