{% extends 'base.html.twig' %}

{% block title %}Adhesions{% endblock %}

{% block body %}

    <div class="mt-5 text-center">
        <a class="bg-light fs-2 px-3 py-3 fst-italic text-decoration-none"
            style="color:rgb(0,137,45);border:solid 5px #229296;border-radius:25px;">
            J'adhère à <img id="logoimg" src="{{ asset('build/logoimg.jpg') }}" alt="TRANSHEPATE" class="px-2 py-1" style="height:60px; width: 240px;">
        </a>
    </div>

    <div class="container">

        <div class="mt-5"  style="border:solid 25px #229296;border-radius:50px;">

            <section class="content_section">
                <div>
                    {# <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="#"
                    style="border-radius:25px;width:100%;height:750px;border:none;" onload="window.scroll(0, this.offsetTop)"></iframe> #}
                </div>
            </section>

        </div>

    </div>

{% endblock %}