{% extends 'base.html.twig' %}

{% block title %}BLOG{% endblock %}

{% block body %}
    <div class="bg-light mt-2 d-block w-100" style="text-align: center;">

        <h1 class="text-dark">Articles</h1>

        {% for post in posts %}

        <p class="text-dark">{{ post.title }}</p>
        <p class="text-dark">{{ post.content }}</p>

        <p class="text-dark">{{ post.createdAt|date("d/m/Y") }}</p>

        {% endfor %}

    </div>
{% endblock %}