{% extends 'base.html.twig' %}

{% block title %}TRANSHEPATE BOURGOGNE FRANCHE-COMTEE{% endblock %}

{% block body %}

    <div class="container-lg mt-5">

        <div class="row"  style="border:solid 25px #229296;border-radius:50px;">

            <div class="col-12 col-lg-12 bg-light px-2 px-lg-5 py-0 my-0" style="border:solid 5px light;border-radius:25px;">

                <h1 class="text-center mt-1" style="color:#11494C;"><span class="fs-3 fst-italic text-uppercase "><strong>Mentions légales</strong></span></br>

                    <h5 class="rgpd" style="color:#229296;">Propriétaire du site</h5>
                    <p class="text-dark">Ce site est édité par l'association transhépate Bourgogne Franche-Comté représentée par Mr Armand FAGES, Président.</br>
                    L’hébergement du site est assuré par la société FranceServ Hébergement 17 rue du collège de l'arc 39100 DOLE</p>

                    <h5 class="rgpd" style="color:#229296;">Droits d’auteur / Copyright</h5>
                    <p class="text-dark">L'association Transhépate BFC est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles
                    sur le site internet, notamment les textes, images, graphismes, logos, vidéos, icônes et sons.</p>

                    <p class="text-dark">L’ensemble des informations présentes sur ce site peut être téléchargé, reproduit, imprimé sous réserve : de n’utiliser ces informations qu’à des fins
                    d’information et en aucune manière à des fins commerciales, de ne pas modifier ces informations, de reproduire sur toutes copies la mention des droits
                    d’auteur « © www.transhepate.org »</p>

                    <p class="text-dark">Toute autre utilisation non expressément autorisée est strictement interdite sans autorisation préalable et écrite de l'association TRANSHEPATE BFC.
                    L’usage du logo ne peut être fait sans autorisation préalable.</p>

                    <h5 class="rgpd" style="color:#229296;">Responsabilité</h5>
                    <p class="text-dark">L’ensemble des informations accessibles via ce site est fourni en l’état.
                    L'association Transhépate BFC ne donne aucune garantie, explicite ou implicite, et n’assume aucune responsabilité relative à l’exactitude ni à l’utilisation
                    de ces informations.
                    L'association Transhépate BFC se réserve le droit de modifier à tout moment les présentes, notamment en actualisant ce site.
                    L’utilisateur s’engage à ne transmettre sur ce site aucune information pouvant entraîner une responsabilité civile ou pénale et s’engage à ce titre
                    à ne pas divulguer via ce site des informations illégales, contraires à l’ordre public ou diffamatoires.</p>

                    <h5 class="rgpd" style="color:#229296;">Liens hypertextes</h5>
                    <p class="text-dark">Les liens mis en place depuis le site vers des sites extérieurs ne sauraient engager la responsabilité de l'association Transhépate BFC, notamment
                    au regard du contenu de ces sites, mais également des risques techniques. En acceptant d’utiliser un lien hypertexte, vous acceptez de prendre
                    les risques et de subir un éventuel préjudice direct ou indirect. La création de liens hypertexte vers le site est totalement autorisée.</p>

                    <h5 class="rgpd" style="color:#229296;">Utilisation et conservation de vos données personnelles</h5>
                    <p class="text-dark">Seules les données déposées volontairement par l’internaute via le formulaire de contact (nom et email) sont conservées pendant 3 mois et sont
                    uniquement destinées au traitement des demandes.
                    Ces données ne seront jamais communiquées à des tiers et sont accessibles uniquement par les présidents et les bénévoles habilités.

                    Conformément à la loi « informatique et libertés », vous disposez d’un droit d’accès, de modification et/ou de suppression des données vous concernant à tout moment.
                    Pour exercer ce droit d’accès, l’utilisateur adressera un courrier en recommandé à : Monsieur le Président – Transhépate Bourgogne Franche-Comté, 16, rue Marcel SEMBAT
                    21600 LONGVIC.</p>

            </div>

        </div>

    </div>

{% endblock %}