{% extends 'base.html.twig' %}

{% block title %}Création d'un article{% endblock %}

{% block body %}

    <div class="container-md">

        <h3 class="text-light">Création d'un nouvel article</h3>

        <div>
            {{ form(form_post) }}
        </div>

    </div>
{% endblock %}