{% extends 'base.html.twig' %}

{% block title %}NOS ACTIONS{% endblock %}

{% block body %}

    <div class="card-header text-center text-white">
        <p class="mt-4 fs-2 fst-italic text-uppercase"><strong>Nos actualités</strong></p>
    </div>
    <div class="hstack gap-3">
        <div class="col bg-light m-5" style="border: solid 5px white; border-radius:25px 25px 0 0;">
            <div class="card h-100"style="border-radius:25px 25px 0 0;">
                <img src="{{ asset('build/tous-ensemble.jpg') }}" class="card-img-top" style="border-radius:20px 20px 0 0;">
            <div class="card-body">
                <h5 class="card-title">Card title...</h5>
                <p class="card-text">text...</p>
            </div>
                <div>
                    <small class="text-muted"></small>
                </div>
            </div>
        </div>
        <div class="col bg-light" style="border: solid 5px white; border-radius:25px 25px 0 0;">
            <div class="card h-100"style="border-radius:25px 25px 0 0;">
                <img src="{{ asset('build/transhepate_mains.jpg') }}" class="card-img-top" style="border-radius:20px 20px 0 0;">
            <div class="card-body">
                <h5 class="card-title">Armand va a la peche </h5>
                <p class="card-text">text...</p>
            </div>
                <div>
                    <small class="text-muted"> ijhfémoeifuùaopeihvùaeoifyaùeoufyaùzoufyaùzoef</small>
                </div>
            </div>
        </div>
        <div class="col bg-light m-5" style="border: solid 5px white; border-radius:25px 25px 0 0;">
            <div class="card h-100"style="border-radius:25px 25px 0 0;">
                <img src="{{ asset('build/tournesol.jpg') }}" class="card-img-top" style="border-radius:20px 20px 0 0;">
            <div class="card-body">
                <h5 class="card-title">Card title...</h5>
                <p class="card-text">text...</p>
            </div>
                <div>
                    <small class="text-muted"></small>
                </div>
            </div>
        </div>
    </div>

{% endblock %}