{% extends 'base.html.twig' %}

{% block title %}Permanences{% endblock %}

{% block body %}

<div class="container-xl">

    <div class="m-5"  style="border:solid 25px #229296;border-radius:50px;">

        <div class="col-12 col-lg-12 bg-light px-lg-5" style="border:solid 25px light;border-radius:25px;">
            <div class="text-center fs-2 fst-italic" style="width: 800px;color:rgb(9, 90, 9);">
                <p class=""><strong>Nos Permanences:</strong></p>
            </div>

                {{ include('main/_form.html.twig', {'button_label': 'Envoyer'}) }}

            <div>

                <a class="text-decoration-none text-light fs-4 fst-italic p-4" style="background-color:#229296;border-radius:25px;"
                href="{{ path('app_main_transhepatebfc') }}"><strong>Retour sur la page contact</strong></a>

            </div>

        </div>

    </div>

</div>

{% endblock %}