{% extends 'base.html.twig' %}

{% block title %}Permanences{% endblock %}

{% block body %}

<div class="container">

    <div class="titre">
        <span class="titre2">
            <strong>Nos Permanences</strong>
        </span>
    </div>

    <div class="cadre">

        <div class="cadre2">

                {{ include('main/_form.html.twig', {'button_label': 'Envoyer'}) }}
                <a class="bouton-RaL" href="{{ path('app_main_home') }}">
                    <strong>Retour à l'accueil</strong>
                </a>

        </div>

    </div>

</div>

{% endblock %}