{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="container bg-light mt-5  text-center" style="width:1200px;border-radius:50px;border:solid 20px #229296;">
        <div class="mt-3 mb-2 my-3">
            <h1 class="fs-1 text-success fst-italic mx-auto" style="width: 550px; text-align: center;"><strong>Association Transhépate de Bourgogne-Franche-Comtée</strong></h1>
        </div>

        <div class="container px-5">
            <div class="m-4 p-4" style="text-align: center">
                <div class="">
                    <ul class="list-group list-group-flush fs-5 text-uppercase text-dark text-wrap" style="list-style-type:none;">
                        <div class="d-grid gap-2 col-3,5 mx-auto mb-4 mt-0">
                            <a class="contact btn btn-success fs-4 fst-italic" href="{{ path('app_main_contact') }}" style="width:280px ;border: solid 4px #229296; border-radius:50px;"><strong>Nous contacter</strong></a>
                            {# <li class="contact btn btn-success fs-4 fst-italic" style="width:280px ;border: solid 4px #229296; border-radius:50px;"><strong>Nous contacter</strong></li> #}
                        </div>
                        <li>Président : <p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">Armand FAGES</p></li>
                        <li>
                            <div class="row">
                                <card>
                                    Siège social :
                                    <p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">CHU de Besançon</br>Maison des Familles</br>3 Boulevard Alexandre Flemming</br>25000 Besançon</p>
                                    <p></p>
                                </card>
                                <card>
                                    Siège de gestion :
                                    <p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">16, rue Marcel Sembat</br>21600 Longvic</p>
                                </card>
                            </div>
                        </li>
                        <li>Tél : <p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">06 08 78 31 63</p></li>
                        <li>Email : <p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">armand.fages@bbox.fr</p></li>
                        <li>Nos permanences :<p class="mt-2 mb-3 p-2 fs-6 fst-italic text-success"><textarea></textarea></p></li>
                        <li>Centre de greffe</br><a class="mt-2 mb-3 p-2 fs-3 fst-italic text-success" href="https://www.chu-besancon.fr/offre-de-soins/les-services-et-activites/chirurgie-viscerale-digestive-et-cancerologique
                        -unite-de-transplantation-hepatique/transplantation-hepatique.html" target="_blank">Chu de besançon</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}