{% extends 'base.html.twig' %}

{% block title %}Assoc-Transhépate.BFC{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <div class="row top-25 w-100"  style="border:solid 25px #229296;border-radius:50px;">
                <div class="col-12 col-lg-12 bg-light px-2 px-lg-1 py-0 my-0" style="text-align: center;border:solid 5px light;border-radius:25px;">
                    <div class="container w-75">
                        <div class="fs-1 fst-italic my-3" style="text-align: center; color:#11494C;"><strong>Association Transhépate Bourgogne-Franche-Comté</strong></div>
                    </div>
                    <div class="px-5">
                        <div class="m-auto p-auto" style="text-align: center">
                            <ul class="list-group list-group-flush fs-5 text-uppercase text-dark text-wrap" style="list-style-type:none;">
                                <div class="d-grid gap-2 col-3,5 mx-auto mb-4 mt-0">
                                    <a class="contact btn btn-success fs-4 fst-italic" href="{{ path('app_main_contact') }}" style="width:280px ;border: solid 4px #229296; border-radius:50px;"><strong>Nous contacter</strong></a>
                                </div>
                                {# <li>Président :<p class="my-2 p-2 fs-4 fst-italic" style="color:#11494C;"><strong>Armand FAGES</strong></p></li> #}
                                <li>
                                    <div class="row m-5" style="border:solid 4px #11494C; border-radius:25px;">
                                        <div class="col-6 border-end border-5">
                                            Siège social :
                                            <p class="my-2 p-2 fs-6 fst-italic" style="color:#11494C;"><strong>CHU de Besançon</br>Maison des Familles</br>3 Boulevard Alexandre Flemming</br>25000 Besançon</strong></p>
                                        </div>
                                        <div class="col-6">
                                            Siège de gestion :
                                            <p class="my-2 p-2 fs-6 fst-italic" style="color:#11494C;"><strong>16, rue Marcel Sembat</br>21600 Longvic</strong></p>
                                        </div>
                                    </div>
                                </li>
                                {# <li>Tél :<p class="my-2 p-2 fs-4 fst-italic" style="color:#11494C;"><strong>06 08 78 31 63</strong></p></li>
                                <li>Email :<p class="my-2 p-2 fs-4 fst-italic" style="color:#11494C;"><strong>armand.fages@bbox.fr</strong></p></li> #}
                                <li>
                                    <div class="row m-2"  style="border:solid 5px #229296;border-radius:25px;">
                                        <p class="fs-2 text-dark fst-italic"><strong>Nos Permanences :</strong></p>
                                        <div>
                                            {# <div class="text-lowercase"> #}
                                                {{ tableau|raw }}
                                            {# </div> #}
                                        </div>
                                    </div>
                                </li>
                                <li>Centre de greffe :</br><a class="my-5 p-2 fs-3 fst-italic" style="color:#11494C;" href="https://www.chu-besancon.fr/offre-de-soins/les-services-et-activites/chirurgie-viscerale-digestive-et-cancerologique
                                -unite-de-transplantation-hepatique/transplantation-hepatique.html" target="_blank"><strong>Chu de Besançon</strong></a></li>
                            </ul>
                        </div class="container">
                            <div>
                                <img src="{{ asset('build/tous-ensemble.jpg') }}" class="img-fluid d-block w-100 mb-5" style="border-radius:25px; border:solid 5px;" alt="tous-ensemble">
                            </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card-header text-center text-light">
                <h3 class="fst-italic"><strong>Le Bureau</strong></h3>
            </div>
            <div class="col-12 col-lg-12 bg-light py-0 my-0" style="border:solid 15px #229296;border-radius:25px;">
                <div class="text-center" style="border-radius:25px;">
                    <div class="card-body">
                        <h4 class="card-title text-decoration-underline">Le Président</h4>
                        <p class="card-text fs-5 fst-italic text-success">Armand FAGES</br><span class="text-dark">
                        armand.fages@bbox.fr</br>Tèl : 06 08 78 31 63<hr></span></p>
                    </div>
                </div>

                <div class="text-center">
                    <div class="card-body">
                        <h4 class="card-title text-decoration-underline">La trésorière</h4>
                        <p class="card-text fs-5 fst-italic text-success">Sylviane LOISON</br><span class="text-dark">
                        sylviane2526@yahoo.fr</br>Tèl : 06 24 37 01 38<hr></span></p>
                    </div>
                </div>

                <div class="text-center">
                    <div class="card-body">
                        <h4 class="card-title text-decoration-underline">La secrétaire</h4>
                        <p class="card-text fs-5 fst-italic text-success">Michelle HEYMES</br><span class="text-dark">
                        michelle.heymes@hotmail.com</br>Tèl : 03 84 76 26 65<hr></span></p>
                    </div>
                </div>

                <div class="text-center">
                    <div class="card-body">
                        <h4 class="card-title text-decoration-underline">La secrétaire adjointe</h4>
                        <p class="card-text fs-5 fst-italic text-success">Dominique PATOIT</br><span class="text-dark">
                        dominiquepatoit@orange.fr</br>Tèl : 06 87 44 06 76<hr></span></p>
                    </div>
                </div>

                <div class="text-center">
                    <div class="card-body">
                        <h4 class="card-title text-decoration-underline">Référent Franche-Comté</h4>
                        <p class="card-text fs-5 fst-italic text-success">René HEYMES</br><span class="text-dark">
                        michelle.heymes@hotmail.com</br>Tèl : 03 84 76 26 65<hr></span></p>
                    </div>
                </div>

                <div class="text-center">
                    <div class="card-body">
                        <h4 class="card-title text-decoration-underline">Nos très aimables bénévoles</h4>
                        <p class="card-text fs-5 fst-italic text-success">Pascal CASAGRANDE</br><span class="text-dark">
                        <p class="card-text fs-5 fst-italic text-success">Bernard MAIRE</br><span class="text-dark">
                        <p class="card-text fs-5 fst-italic text-success">Roselyne MOINE</br><span class="text-dark">
                        <p class="card-text fs-5 fst-italic text-success">Léonise RACON<hr><hr><span class="text-dark">
                    </div>
                </div>

                <div class="text-left">
                    <div class="card-body">
                        <h4 class="card-title text-decoration-underline text-center">A-propos</h4>
                        <p class="card-text">
                            Création de l'association<strong> transhépate Bourgogne Franche-Comté</strong></br>Créé le 14 février 1989 sous l'impulsion du Professeur Gillet
                            transplanteur, Docteur Miguet, les patients Roger Defrasne, Daniel Vouge et Marie Françoise Masson.</br>
                            Après accord avec la fédération nationale nous adoptons le sigle <span class="text-success text-bold">transhépate</span>.</br>
                            Parmis les buts de l'association, repose en premier lieu l'aide aux patients en attente de greffe, et surtout pour ceux inscrits
                            sur la liste des receveurs.</br>Au fil des années, de nouveaux transplantés adhèrent à notre association.</br>
                            L'unité de transplantation hépatique de Besançon se trouvant à proximité du CHRU de Dijon, une convention entre les deux établissements
                            oriente la greffe du foie des patients dijonnais au CHRU de Besançon.</br>
                            Considérant cette disposition, nous étendons notre territoire d'intervention aux Bourguignons</br>Le 25 novembre 1989 nous devenons</br>
                            <span class="fs-6 text-uppercase text-success"><strong>transhépate Bourgogne Franche-Comté</strong></span></br>
                            Ce faisant, nous anticipions de 20 années une évolution politique territoriale qui fait que notre région est devenue une seule région
                            </br><span class="text-uppercase fst-italic">Bourgogne Franche Comté</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}