{% extends 'base.html.twig' %}

{% block title %}Assoc-Transhépate.BFC{% endblock %}

{% block body %}

<div>

    <div class="titre">
        <span class="titre2">
            Association transhépate bourgogne-franche-comté
        </span>
    </div>

    <div class="row ms-5">
        <div class="col-8 cadre5">
            <div class="row cadre">
                <div class="cadre2">
                    <div class="px-3">
                        <div class="text-center">
                            <ul class="list-group list-group-flush text-uppercase text-dark text-wrap" style="list-style-type:none;">
                                <a class="inscription-valid btn btn-success" href="{{ path('app_main_contact') }}">N o u s - c o n t a c t e r</a>

                                <li>
                                    <div class="row cadre3">
                                        <div class="col-6">
                                            <span class="cadre4">Siège social :</span>
                                            <p>CHU de Besançon</br>Maison des Familles</br>3 Boulevard Alexandre Flemming</br>25000 Besançon</p>
                                        </div>
                                        <div class="col-6 separate">
                                            <span class="cadre4">Siège de gestion :</span>
                                            <p>16, rue Marcel Sembat</br>21600 Longvic</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row cadre3">
                                        <p class="nos-perm">Nos Permanences :</p>
                                        <div>
                                            <div class="text-capitalize">
                                                {{ tableau|raw }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cadre4">Centre de greffe :</br><a class="cadre4" href="https://www.chu-besancon.fr/offre-de-soins/les-services-et-activites/chirurgie-viscerale-digestive-et-cancerologique
                                -unite-de-transplantation-hepatique/transplantation-hepatique.html" target="_blank">Chu de Besançon</a></li>
                            </ul>
                        </div class="">
                            <div class=" mt-4">
                                <img src="{{ asset('build/tous-ensemble3.jpg') }}" class="img-fluid d-block w-100 mb-5" style="border-radius:25px; border:solid 5px;" alt="tous-ensemble">
                            </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 cadre6">
            <div class="card-header">
                Le Bureau
            </div>
            <div class="cadre">
                <div class="cadre2">
                    <div class="">
                        <div class="card-body">
                            <h4 class="card-title">Le Président</h4>
                            <p class="card-text">Mr.Armand FAGES<br>
                            armand.fages@bbox.fr</br>Tèl : 06 08 78 31 63<hr></p>
                        </div>
                    </div>

                    <div class="">
                        <div class="card-body">
                            <p class="card-title">La trésorière</p>
                            <p class="card-text">Mme.Sylviane LOISON<br>
                            sylviane2526@yahoo.fr</br>Tèl : 06 24 37 01 38<hr></p>
                        </div>
                    </div>

                    <div class="">
                        <div class="card-body">
                            <p class="card-title">La secrétaire</p>
                            <p class="card-text">Mme.Michelle HEYMES<br>
                            michelle.heymes@hotmail.com</br>Tèl : 03 84 76 26 65<hr></p>
                        </div>
                    </div>

                    <div class="">
                        <div class="card-body">
                            <p class="card-title">La secrétaire adjointe</p>
                            <p class="card-text">Mme.Dominique PATOIT<br>
                            dominiquepatoit@orange.fr</br>Tèl : 06 87 44 06 76<hr></p>
                        </div>
                    </div>

                    <div class="">
                        <div class="card-body">
                            <p class="card-title">Référent Franche-Comté</p>
                            <p class="card-text">Mr.René HEYMES<br>
                            michelle.heymes@hotmail.com</br>Tèl : 03 84 76 26 65<hr></p>
                        </div>
                    </div>

                    <div class="">
                        <div class="card-body">
                            <p class="card-title">Nos très aimables bénévoles<br></p>
                            <p class="card-text">
                                Mr.Pascal CASAGRANDE<br>
                                Mr.Bernard MAIRE<br>
                                Mme.Roselyne MOINE<br>
                                Mme.Léonise RACON<hr><hr>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="card-body">
                        <p class="card-title">A-propos</p>
                        <p class="td">
                            Création de l'association<strong><span class="fs-4 text-success"> transhépate Bourgogne Franche-Comté</strong></span></br>Créé le 14 février 1989 sous l'impulsion du <strong>Professeur Gillet
                            transplanteur, Docteur Miguet, les patients Roger Defrasne, Daniel Vouge et Marie Françoise Masson.</strong></br>
                            Après accord avec la fédération nationale nous adoptons le sigle <span class="text-success"><strong>transhépate</strong></span>.</br>
                            Parmis les buts de l'association, repose en premier lieu l'aide aux patients en attente de greffe, et surtout pour ceux inscrits
                            sur la liste des receveurs.</br>Au fil des années, de nouveaux transplantés adhèrent à notre association.</br>
                            L'unité de transplantation hépatique de Besançon se trouvant à proximité du CHU de Dijon, une convention entre les deux établissements
                            oriente la greffe du foie des patients dijonnais au CHU de Besançon.</br>
                            Considérant cette disposition, nous étendons notre territoire d'intervention aux Bourguignons</br>Le 25 novembre 1989 nous devenons</br>
                            <span class="fs-6 text-uppercase text-success"><strong>transhépate Bourgogne Franche-Comté</strong></span></br>
                            Ce faisant, nous anticipions de 20 années une évolution politique territoriale qui fait que notre région est devenue une seule région
                            </br><span class="text-uppercase fst-italic">Bourgogne Franche Comté</span>
                        </p>
                    </div>
                </div>
            </div>
             <div class="text-center">
            <a class="bouton-RaL"
                href="{{ path('app_main_home') }}">
                <strong>Retour à l'accueil</strong>
            </a>
        </div>
        </div>

    </div>
</div>

{% endblock %}