{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    {# <div class="bg-image" style="background-image: url('https://www.transhepate.org/wp-content/uploads/2020/03/bann3.jpg');"> #}

        <div>
            <h1 class="display-6 text-success fst-italic mx-auto" style="width: 550px; text-align: center;"><strong>Association Transhépate de Bourgogne-Franche-Comtée</strong></h1>
        </div>

        {# <div class="text-xl-center m-5 p-3 fs-4 fst-italic text-uppercase text-warning">
            Nous contacter !
        </div> #}

        {# <div class="" style=""> #}
            <div class="text-xl-center m-4 p-4" style="">
                <div class="">
                    <ul class="list-group list-group-flush fs-5 text-uppercase text-muted" style="text-decoration: none;">
                        <li class="text-xl-center m-5 p-3 fs-4 fst-italic text-uppercase text-warning">Nous contacter</li>
                        <li class=" text-xl-center">Président : <p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">Armand FAGES</p></li>
                        <li class="">Siège social :</li>
                            <p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">CHU de Besançon</br>3 Boulevard Alexandre Flemming</br>25000 Besançon</p>
                        <li class="">Tél : <p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">03 81 50 47 79</p></li>
                        <li class="">Email : <p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">armand.fages@bbox.fr</p></li>
                        <li class="">Nos permanences :<p class="mt-2 mb-3 p-2 fs-1 fst-italic text-success">...</p></li>
                        <li class="">Centre de greffe<p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">CHU de Besançon</p></li>
                    </ul>
                </div>
            </div>
        {# </div> #}
    </div>

{% endblock %}