{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="container bg-light mt-5  text-center" style="width:800px;border-radius:25px;border:solid 20px #229296;">
        <div>
            <h1 class="fs-2 text-success fst-italic mx-auto" style="width: 550px; text-align: center;"><strong>Association Transhépate de Bourgogne-Franche-Comtée</strong></h1>
        </div>

        <div class="container px-5" style="">
            <div class="m-4 p-4" style="text-align: center">
                <div class="">
                    <ul class="list-group list-group-flush fs-5 text-uppercase text-muted" style="list-style-type:none;">
                        <li class="contact text-warning"><strong>Nous contacter</strong></li>
                        <li>Président : <p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">Armand FAGES</p></li>
                        <li>Siège social :</li>
                            <p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">CHU de Besançon</br>Maison des Familles</br>3 Boulevard Alexandre Flemming</br>25000 Besançon</p>
                            <p></p>
                        <li>Tél : <p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">06 08 78 31 63</p></li>
                        <li>Email : <p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">armand.fages@bbox.fr</p></li>
                        <li>Nos permanences :<p class="mt-2 mb-3 p-2 fs-1 fst-italic text-success">...</p></li>
                        <li>Centre de greffe<p class="mt-2 mb-3 p-2 fs-4 fst-italic text-success">CHU de Besançon</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}