<form

    method="post"
    action="{{ path('app_admin_delete', {'id': user.id}) }}"
    onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet utilisateur?');">
    
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="p-2 m-4 btn text-uppercase text-light btn btn-warning" style="border:3px solid #11494C;
    border-radius:25px;">Supprimer</button>
</form>