{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="px-3 py-1 m-4 text-light fst-italic fs-4
                text-decoration-none" style="background-color:#178E94;border:3px solid #11494C;border-radius:25px;"><strong>{{ button_label|default('Save') }}</strong></button>
{{ form_end(form) }}