{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="px-3 py-1 m-auto text-light fst-italic fs-4
                text-decoration-none" style="background-color:#178E94;border:3px solid #178E94;border-radius:20px 20px 0 0;"><strong>{{ button_label|default('Save') }}</strong></button>
{{ form_end(form) }}