{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="text-uppercase p-2 m-4 text-light
                text-decoration-none" style="background-color:#178E94;border:3px solid #11494C;border-radius:25px;">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}