{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    <div class="container">

    <div class="my-5 text-center">
        <span class="fs-2 px-3 py-1 fst-italic text-light text-uppercase"
            style="border:solid 5px #73e0ed;border-radius:25px;background-color:#229296">
            <strong>Modifier l'utilisateur</strong>
        </span>
    </div>

        <div class="mt-5"  style="border:solid 25px #229296;border-radius:50px;">

            <div class="col-12 col-lg-12 bg-light px-2 px-lg-5 py-0 my-0" style="border:solid 15px light;border-radius:25px;">

                {{ include('admin/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

                <a href="{{ path('app_admin_user_index') }}" class="text-uppercase p-2 m-4
                text-light text-decoration-none" style="background-color:#178E94;border:3px solid #11494C;border-radius:25px;">Retour à la liste</a>

                {{ include('admin/_delete_form.html.twig') }}

            </div>

        </div>

    </div>

{% endblock %}