{% extends 'admin/base.admin.html.twig' %}

{% block titleAdmin %}Accueil{% endblock %}

{% block admin %}

<h1 class="text-title-h1 h2 text-center mt-5">Statistiques de notre Blog</h1>

<div class="container-lg">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">

            <ul class="list-group mt-4 p-4">
              <li class="list-group-item d-flex justify-content-between align-items-center text-title-h2">
                Nombre d'utilisateurs enregistrés :
                <span class="badge bg-success">{{ Nb_Users }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center text-title-h2">
                Nombre total de publications :
                <span class="badge bg-success">{{ Nb_Posts }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center text-title-h2">
                Nombre total de commentaires :
                <span class="badge bg-success">{{ Nb_Comments }}</span>
              </li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}