{% extends 'base.html.twig' %}

{% block title %}Assoc-Transhépate.BFC{% endblock %}

{% block body %}

    <div class="container-xx text-center text-light fs-2 fst-italic">

        <h1><strong>Ajouter une nouvelle brochure</strong></h1>

    </div>
    <div class="container">
        {{ form_start(form) }}
            {# ... #}

            {{ form_row(form.brochure) }}
            {{ include('admin/_form.html.twig') }}

        {{ form_end(form) }}
    </div>

{% endblock %}