<form

    method="post"
    action="{{ path('app_blog_delete_post', {'id': post.id}) }}"
    onsubmit="return confirm('Ëtes vous sure de vouloir détruire cette Publication?');">

    <input type="hidden" name="_token" value="{{ csrf_token('transhepate_blog' ~ post.id) }}">

    <button class="m-3 px-5 py-1 text-light" style="font-size:1.3rem;background-color: orangered">Supprimer</button>

</form>
