{{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-success fs-5 fst-italic my-4 ms-5 py-1"
        style="border:solid 3px #11494C; border-radius:25px;">{{ button_label|default('save') }}</button>
    {{ form_end(form) }}