{{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="m-3 px-4 py-1 text-light" style="font-size:1.46rem;background-color:#11494C;">{{ button_label|default('save') }}</button>
    {{ form_end(form) }}