{{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-success fs-4 fst-italic my-4 ms-4 py-1 px-4"
        style="border:solid 3px #73e0ed; border-radius:25px;"><strong>{{ button_label|default('save') }}</strong></button>
    {{ form_end(form) }}