{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}

    <div class="container" style="width: 800px;height:600px;border-radius:25px;border:solid 20px #229296;">

        <div class="text-dark bg-light my-5 p-4 d-block w-100">

            <h1 class="mx-auto fs-2 text-uppercase fst-italic" style="width: 400px;color:rgb(9, 90, 9);">
            <strong>Modifier cette publication</strong></h1>

            {{ include('blog/_form.html.twig', {'button_label': 'Sauvegarder cette publicationn'}) }}

            {{ include('blog/_delete_form.post.html.twig', {'button_label': 'Supprimer cette publication' ,'size': 'w-100 mb-4'}) }}

            <a href="{{ path('app_blog_show_post', {'slug': post.slug}) }}" class="btn btn-outline-light w-100 mb-3">Annuler</a>

        </div>

    </div>
{% endblock %}
