{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <div class="container">

        <div class="mt-5"  style="border:solid 25px #229296;border-radius:50px;">

            <div class="col-12 col-lg-12 bg-light px-2 px-lg-5 py-0 my-0" style="border:solid 5px light;border-radius:25px;">

                {# <div class=""> #}
                    <h2 class="text-dark fs-2 fst-italic text-center mx-4"><strong>Nos dernières publications</strong></h2>
                {# </div> #}

                {# Affichage du nombre total de publications (attibut apporté par knp_paginator) #}
                <div class="col-12 ps-5">
                    <p class="fs-5 text-left fst-italic text-dark text-decoration-underline">Nombre total d'articles : {{ posts_paginate.getTotalItemCount }}</p>
                </div>

                {# S'il y a des publications, on affiche le menu de pagination #}

                <div class="row">
                    <div class="col-12 text-center">
                        <div class="fs-6 fst-italic text-center mx-4 d-inline-block">
                            {{ knp_pagination_render(posts_paginate) }}
                        </div>
                    </div>
                </div>
                {### AFFICHAGE DES PUBLICATIONS ###}

                    <div class="row m-0 p-0">

            {% for post in posts_paginate %}

                {# Boucle d'affichage des Posts #}
                {{ include('blog/_posts.view.html.twig') }}

            {% else %}
                <p class="col-12 text-center alert alert-warning">Aucune publication à afficher</p>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}