{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}

<div class="container">

    <div class="mt-5"  style="border:solid 25px #229296;border-radius:50px;">

        <div class="col-12 col-lg-12 bg-light px-2 px-lg-5 py-0 my-0" style="border:solid 5px light;border-radius:25px;">

            <h1 class="mx-auto fs-2 text-uppercase fst-italic" style="width: 400px;color:rgb(9, 90, 9);"><strong>Créer un nouvel article</strong></h1>

            {{ include('blog/_form.html.twig', {'button_label': 'Nouvelle Publication'}) }}

            <div class="pb-4">

                <a class="text-decoration-none px-4 ms-4 px-5 py-1 text-light fs-5 fst-italic" style="background-color:#229296;border-radius:25px;border:solid 3px #11494C" 
                href="{{ path('app_blog_index') }}"><strong>Retour à la liste</strong></a>

            </div>

        </div>

    </div>

</div>

{% endblock %}
