{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}

<div class="container">

    <div class="my-5 text-center">
        <span class="fs-2 px-3 py-1 fst-italic text-light text-uppercase"
            style="border:solid 5px #73e0ed;border-radius:25px;background-color:#229296">
            <strong>Créer un nouvel article</strong>
        </span>
    </div>

    <div class="mt-5"  style="border:solid 25px #229296;border-radius:50px;">

        <div class="col-12 col-lg-12 bg-light px-2 px-lg-5 py-0 my-0" style="border:solid 5px light;border-radius:25px;">

            {{ include('blog/_form.html.twig', {'button_label': 'Envoyer'}) }}

        </div>

    </div>

    <div class="pb-4 m-5">
        <a class="text-decoration-none px-4 m-4 px-5 py-1 text-light fs-4 fst-italic"
            style="background-color:#229296;border-radius:25px;border:solid 3px #73e0ed"
            href="{{ path('app_blog_index') }}">
            <strong>Retour à la liste</strong>
        </a>
    </div>

</div>

{% endblock %}
