{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}

    <div class="text-dark bg-light my-5 p-4 d-block w-100">

    <h1 class="mx-auto fs-2 text-uppercase fst-italic" style="width: 400px;"><strong>Créer un nouvel article</strong></h1>

    {{ include('blog/_form.post.html.twig', {'button_label': 'Nouvelle Publication'}) }}

    <a href="{{ path('app_blog_index') }}" class="btn btn-success">Retour à la liste</a>

    </div>
{% endblock %}
