{% extends 'base.html.twig' %}

{% block title %}Utilisation de notre blog{% endblock %}

{% block body %}
<div class="container">
    <div class="titre">
        <span class="titre2">
            <strong>Règles du Blog et conditions d'utilisation</strong>
        </span>
    </div>

    <div class="container entourage-ext">
        <div>
            <p>
                <span class="fs-4 text-success text-uppercase"><strong>Transhépate.bfc</strong></span> est un site d'informations où vous pouvez trouver actualités, commentaires et avis. <br/>
                Cette page présente notre politique d'utilisation des données personnelles pour la partie blog de notre site. <br/>
                En accédant au Blog Transhepate.bfc, vous reconnaissez avoir lu et compris notre politique d'utilisation
                des données personnelles, <br/> ainsi que les pratiques de recueil et de traitement des informations décrites dans ce document.
            </p>
        </div>

        <div>
            <tr>
                <p class="underline"><strong>Article 1. Définitions</strong></p>
                    <li>« Membre » : il s'agit de toute personne inscrite sur le Blog.</li>
                    <li>« Contribution » : également appelé « Message ou Post » et se définissant comme toute intervention d'un
                        Membre pour initier ou répondre à une Discussion.</li>
                    <li>« Discussion » : échanges écrits sur le Blog à l'initiative d'un Membre et/ou du Modérateur.</li>
                    <li>« Blog » : il s'agit de l'espace mis à disposition sur le Site permettant aux membres d'engager
                        des Discussions sur les thèmes de la greffe hépathique.</li>
                    <li>« Modération » : il s'agit du contrôle a posteriori, c'est-à-dire après mise en ligne de la
                        Contribution que le Site s'autorise à mettre en œuvre.</li>
                    <li>« Modérateur » : il s'agit en l'espèce de la même personne que l'Exploitant du Site.</li>
            </tr>
        </div><br>

        <div>
            <p class="underline"><strong>Article 2. Objet</strong></p>
                <p>
                    <span>
                        Les présentes Conditions Particulières d'Utilisation du Blog ont pour objet de préciser les conditions
                        dans lesquelles les Membres peuvent s'inscrire, créer ou intervenir dans des Discussions.
                    </span>
                </p>
        </div><br>

        <div>
            <p class="underline"><strong>Article 3. Modalités d'inscription</strong></p>
                <p>
                    Avant de pouvoir poster le premier message, le Membre doit s'inscrire.<br/>
                    En s'inscrivant, l'adresse email du Membre reste confidentielle.<br/>
                    Afin de Protéger l'anonymat du Membre, le Site recommande d'utiliser un Identifiant
                    différent de l'identité et des pseudos utilisés sur d'autres blogs. Le Site recommande
                    de ne pas poster de pièces jointes permettant d'identifier le Membre.
                </p>
        </div>

        <div>
            <p class="underline"><strong>Article 4. Licence d'utilisation des Contributions</strong></p>
                <p>
                    Pour ce qui concerne les Contributions stockées, transmises ou mises en ligne sur le Forum en vue de les
                    rendre accessible aux Internautes, le Membre accorde au Site, pour le monde entier, un droit non-exclusif
                    et gratuit d'utilisation permettant au Site de reproduire, publier et diffuser ces Contributions aux fins
                    de fourniture du Service, de sa promotion et de sa distribution, et ce, sur tout support électromagnétique
                    et par tout moyen de communication électronique, sur le Site et sur les sites de Partenaires ou de tiers.
                    Ce droit est accordé pour une durée indéterminée. Le Membre garantit le Site d'avoir préalablement obtenu
                    les droits nécessaires à cette exploitation et que le contenu est conforme à la loi et ne porte pas atteinte
                    aux droits de tiers.<br/>
                    Le Membre doit faire une sauvegarde par lui-même de ses Contributions. Quel qu'en soit le motif,
                    le Site n'est pas tenu de restituer les données liées à la Contribution.
                </p>
        </div>

        <div>
            <p class="underline"><strong>Article 5. Contenu des Discussions</strong></p>
            <p>
                Les Discussions sur le forum sont de la <strong>seule et unique responsabilité du Membre.</strong><br/>
                Les Discussions ne peuvent porter que sur les thèmes de la greffe hépatique.<br/><br/>
                <strong>Toute Discussion doit répondre aux règles de forme et de fond suivantes :</strong>
            </p>
            <li>interdiction de poster des Contributions à caractère directement ou indirectement diffamatoire,
                injurieux ou délictuel
            </li>
            <li>interdiction de diffuser les données personnelles d'un Membre ou de toute autre personne physique,
                car ces données font l'objet d'un droit de modification ou de suppression. Sont notamment concernés :
                l'adresse email ou postale, le nom de famille, le téléphone.
            </li>
            <li>interdiction de poster des Contributions à caractère directement ou indirectement commercial,
                publicitaire, prospectif. Notamment, les liens vers des sites commerciaux, vers des sites
                comportant de la publicité ou ne présentant pas de mentions légales, ou vers des sites pouvant
                être jugés comme douteux ou proposant des activités illégales, ne sont pas admis.
                Une tolérance peut toutefois être appliquée par le Modérateur, au cas par cas, quand il s'agit
                de fournir une information pertinente et indispensable dans le contexte d'une conversation.
            </li>
            <li>cependant, les Contributions à caractère informatif sont acceptés et doivent alors contenir des arguments objectifs.
            </li>
            <li>le Membre doit, à tout moment faire preuve de courtoisie et observer les règles élémentaires de bonne conduite
            </li>
            <li>il est interdit de formuler nommément des attaques et des reproches personnels contre des personnes physiques
            </li>
            <li>le Membre doit s'interdire de publier sur le Forum tout contenu (texte, vidéo, image) sur lequel il ne dispose pas des droits d'auteurs
            </li>
            <li>en particulier, sauf autorisation du site concerné, il est interdit de recopier le contenu d'une page
                internet sur le Forum par respect du droit d'auteur. En revanche, le Membre peut faire un lien vers
                la page en question, en y ajoutant la source, un résumé ou un court extrait.
            </li>
            <p>A tout moment un Membre peut signaler la violation de ces règles par l'intermédiaire du formulaire de contact.
            </p>
        </div>

        <div>
            <p class="underline"><strong>Article 6. Mot de passe</strong></p>
            <p> Au sujet de votre mot de passe.
                Votre mot de passe est secret ne le partagez avec quiconque.
                Si vous perdez ou oubliez votre mot de passe, ne le demandez pas aux Admins du site,
                personne n'y a accès, le mot de passe que vous avez entré lors de votre inscription sur le Blog
                est codé automatiquement et envoyé tel dans la base de données.
                Sur le formulaire de connexion, utilisez le bouton (mot de passe oublié) qui vous redirigera
                sur un formulaire, vous devrez entrer votre adresse email pour recevoir un lien de réinitialisation du mot de passe
                suivez les directives et recréez un nouveau mot de passe qui vous servira pour vous connecter au Blog.
                </p>
        </div>

        <div>
            <p class="underline"><strong>Article 7. Contrôle à posteriori des Discussions</strong></p>
            <p>Le Site se réserve la possibilité de contrôler a posteriori les Contributions des Membres afin
                de préserver la qualité des Discussions et le respect des Conditions Générales et Particulières
                applicables. A ce titre, le Membre donne au Site le droit de modifier ou de retirer,de plein droit,
                en tout ou partie les Contributions qui ne seraient pas conformes aux Conditions applicables.
            </p>
        </div>

        <div>
            <p class="underline"><strong>Article 8. Suspension – Exclusion d'un Membre</strong></p>
            <p>La violation par un Membre d'une des règles des présentes Conditions Particulières ouvre le droit
                pour le Site, selon la gravité des faits, soit de suspendre l'accès au Site pour un membre durant
                une durée déterminée, soit d'exclure le Membre et donc de résilier son accès aux Services,
                à tout moment et de plein droit.
            </p>
        </div>

        <div class="text-center">
            <a href="{{ path('app_main_login') }}" class="inscription-valid btn btn-success"><strong>j'accepte et me connecte</strong></a>
        </div>

    </div>

</div>

{% endblock %}