/* VARIABLES SCSS */
// $gray-800: #303030 !default;

// $red:     #e74c3c !default;
// $orange:  #fd7e14 !default;
// $yellow:  #f39c12 !default;

// $dark: #2c4866 !default;

// $body-bg: #0e1e2e !default;

$navbar-dark-color:       rgba(#fff, .90) !default;
$navbar-dark-hover-color: #ffb !default;

// // Components
// $border-radius:    5px !default;
// $border-radius-lg: 5px !default;
// $border-radius-sm: 3px !default;

// $colors: (
//   "blue":       $blue,
//   "indigo":     $indigo,
//   "purple":     $purple,
//   "pink":       $pink,
//   "red":        $red,
//   "orange":     $orange,
//   "yellow":     $yellow,
//   "green":      $green,
//   "teal":       $teal,
//   "cyan":       $cyan,
//   "white":      $white,
//   "gray":       $gray-600,
//   "gray-dark":  $gray-800
// );




/* IMPORTS */
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootswatch/dist/cosmo/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/cosmo/bootswatch";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

body {
  background-color: #11494C!important;
  // height: 100%;
  // overflow-x: hidden;
}

.textarea {
  float: center!important;
  height: auto!important;
  background-color: #d3f6ae!important;
  // overflow-x: hidden;
}

.img-fluid {
  box-shadow: 0 0 12px 12px #73e0ed inset;
}

.green {
  opacity:.8;
}

#inlineFrameExample{
  border-radius: 50px;
  border: solid 25px (rgb(0,137,45));
  opacity:.8;
}

body main {
  position: relative;
}

// iframe {
//   width: auto;
//   height: auto;
// }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1;
  background-color: white;
  border: 1px solid #73e0ed;
  transition: box-shadow 0.15s ease-in-out;
}

.bi {
  color: black;
}

.dropdown-item {
  font-size: 22px;
  color: black;
  font-weight: bold;
}

.nav-link, .dropdown-item:hover {
  background-color: rgb(140, 230, 254);
  color: #fff;
}

.text-color {
  color: white!important;
  font-weight: bold;

}

.carousel-item {
  background-color: #229296;
}

.client_details {
  color: #229296!important;
  display: block!important;
  font-size: 15px!important;
  font-weight: bold!important;
  margin: 10px 0 9px!important;
  text-transform: uppercase!important;
}

.carousel-control-next, .carousel-control-prev {
  font-size: xx-large;
}

.carousel .carousel-inner {
  left: 0;
  right: 0;
  width: 100%;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.d-block {
  position: relative;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.bandeau {
  height: 30rem;
}

.footer {
  background-color: #11494c;
}

.nav-item {
  padding: auto;
  margin-left:20px;
  margin-right:20px;
}

ul li {
  color: black!important;
}

h5 div a:hover {
  background-color: #97fa3b!important;
}

div .text-decoration-none:hover {
  color: whitesmoke!important;
}

/* NOS MISSIONS */

.bg_color1 {
  background: #11494C;
}
.content_section {
  position: relative;
}
.white_section {
  color: rgba(255, 255, 255, 0.7);
}

.title_banner {
  padding: 24px 0 25px;
  position: relative;
  margin-bottom: 5px;
}

.row_spacer, .icons_spacer {
  padding-bottom: 48px;
  padding-top: 48px;
}

.icons_spacer {
  margin-bottom: -45px!important;
  padding-bottom: 90px!important;
  padding-top: 90px!important;
}

.icon_boxes_con.style2.solid_icon .service_box .icon i {
  background: none;
  position: relative;
  z-index: 1;
}

.icon_boxes_con.style2.solid_icon .service_box .icon {
  background: #fff;
  background: none;
  height: 65px;
  line-height: 65px;
  width: 65px;
}

.icon-circle {
  background-color: rgb(24, 42, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.icon-circle:hover {
  background-color: #229296;
  color: #11494C;
  transition: all 0.2s ease;
}

.icon_boxes_con.style2.solid_icon .service_box .icon {
  background: #fff!important;
  background: none!important;
  height: 65px!important;
  line-height: 65px!important;
  width: 65px!important;
  top: 0!important;
}

.icon_boxes_con.style2.solid_icon .service_box > .icon:before {
  content: "";
  display: block!important;
  height: 100%!important;
  position: absolute!important;
  width: 100%!important;
  z-index: 1!important;
  left: 50%!important;
  top: 50%!important;
  opacity: 0!important;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(1.2)!important;
  transform: translateY(-50%) translateX(-50%) scale(1.2)!important;
}

footer .card {
  background-color:#11494C;
}

header {
  position: sticky!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
  width: 100vw!important;
  z-index: 999;
}

// div ul li .contact {
//   text-decoration: underline;
// }

.bg_gray {
  background: #f9fafc!important;
  border-bottom: 1px solid #eaebed!important;
  border-top: 1px solid #eaebed!important;
}

/* MON SCSS */

.dropdown-menu {
  background-color: rgb(116, 230, 84);
  color: #11494c;
}

.dropdown-menu:hover {
  background-color: rgb(116, 230, 84);
  color: #11494c;
}

.entete {
  background-color: #178E94;
}

.nav {
  background-color: #178E94;
}

// Page Accueil
// transhépate en chiffres
.bg_color1 {
  background-color: #11494c;
}

.text-muted {
  font-size: 1.2rem!important;
}

/* --------- NOS BROCHURES -----------*/

.icon_boxes {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

/*--------------------  MESSAGES D'ALERTES --------------------*/

#messages, #loginMessages {
    position: absolute!important;
    text-transform: uppercase!important;
    font-weight: bold!important;
    text-align: center!important;
    top: 60px!important;
    right: 0!important;
    left: 0!important;
    z-index: 920!important;
    opacity: 0.85!important;
}

#messages .alert {
  width: 100ww!important;
  padding: 0.5rem 0.5rem!important;
  margin-bottom: 0!important;
  border: none!important;
  border-radius: 0!important;
}

.counter_a .counter .icon:after {
  content: "";
  display: block;
  height: 65px;
  left: 0;
  position: absolute;
  top: 0;
  width: 65px;
  opacity: 0;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
}


/*------------------------ PAGINATION -------------------------*/

 .page-item.active .page-link {
    background-color: #11494c!important;

}

 .page-item .page-link {
    background-color: #b6e3e5!important;
    border:solid 2px lightslategrey!important;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;

}

.page-item .page-link:hover {
    background-color: lightslategrey!important;
}

.page-item .page-link:focus, .page-item .page-link.focus {
  box-shadow: none!important;
}

/*---------------------------- CAPTCHA  ---------------------------*/

// #container-g-recaptcha .g-recaptcha {
//   transform: scale(0.65)!important;
//   -webkit-transform: scale(0.65)!important;
//   transform-origin: 0 0!important;
//   -webkit-transform-origin: 0 0!important;
//   overflow:hidden /* contexte de formatage */
// }

/*---------------------------- CKEDITOR  ---------------------------*/

.cke_chrome, .cke_1.cke_chrome {
    border-color: black!important;
}

.cke_1 .cke_top {
    background-color: #ced4da!important;
    border-bottom-color: black!important;
}

/*---------------------------TEST----------------------------*/

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #11494c;
}

.glass {
  width: 12rem;
  height: 28rem;
  border: 0.15rem solid #000;
  border-radius: 0 0 10% 10%;
  padding: 1rem;
  position: relative;
}

.drink {
  width: 100%;
  height: 100%;
  background: linear-gradient(142deg, rgba(255, 242, 0) 30%, rgba(255, 0, 47) 70%);
  opacity:.8;
  border-radius: 0 0 10% 10%;
}

.straw {
  width: 0.9rem;
  height: 5rem;
  background: #fff200;
  position: absolute;
  top: -4rem;
  right: 3rem;
  transform: rotate(10deg);
}

.straw:before, .straw:after {
  content: "";
  position: absolute;
  background-color: #fff200;
  width: 0.9rem;
}

.straw:before {
  height: 6rem;
  top: -5.5rem;
  left: 1.5rem;
  transform: rotate(30deg);
}

.straw:after {
  height: 10rem;
  top: -4.75rem;
  left: -1.5rem;
}

.ice {
  width: 4rem;
  height: 4rem;
  background: #fff;
  opacity: 40%;
  border-radius: 30%;
  transform: rotate(250deg);
  position: relative;
  margin-top: 14rem;
  margin-left: -3.9rem;
  box-shadow: 6.5rem 6rem #fff;
}

.ice:before, .ice:after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  background: #fff;
  border-radius: 30%;
}

.ice:before {
  transform: rotate(30deg);
  top: 1.5rem;
  left: 6rem;
}

.ice:after {
  transform: rotate(230deg);
  top: 4.5rem;
  left: 2rem;
}
