/* VARIABLES SCSS */
// $gray-800: #303030 !default;

// $red:     #e74c3c !default;
// $orange:  #fd7e14 !default;
// $yellow:  #f39c12 !default;

// $dark: #2c4866 !default;

// $body-bg: #0e1e2e !default;

// $navbar-dark-color:       rgba(#fff, .90) !default;
// $navbar-dark-hover-color: #ffb !default;

// // Components
// $border-radius:    5px !default;
// $border-radius-lg: 5px !default;
// $border-radius-sm: 3px !default;

// $colors: (
//   "blue":       $blue,
//   "indigo":     $indigo,
//   "purple":     $purple,
//   "pink":       $pink,
//   "red":        $red,
//   "orange":     $orange,
//   "yellow":     $yellow,
//   "green":      $green,
//   "teal":       $teal,
//   "cyan":       $cyan,
//   "white":      $white,
//   "gray":       $gray-600,
//   "gray-dark":  $gray-800
// );




/* IMPORTS */
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootswatch/dist/cosmo/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/cosmo/bootswatch";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

body {
  background-color: #11494C!important;
}

body, h1, h2, h3, h4, h5, h6, p, em, blockquote {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #151515;
  position: relative;
  line-height: 1.5;
}

element.style {
  opacity: 1;
  display: block;
}

.normal_text_slider {
  position: relative;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // max-width: 250px;
}

// @media (min-width: 768px) .col-md-3 {
//     flex: 0 0 auto;
//     width: 25%;
// }


html, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
 div {
   display: block;
 }


/* MON SCSS */

.dropdown-menu {
  background-color: rgb(9, 90, 9);
}

.entete {
  background-color: #178E94;
}

// .navbar .navbar-extend {
//   color: rgb(6, 165, 168)!important;
// }

#kyma_owl_slider .kyma_owl_p:after,
#kyma_owl_slider .kyma_owl_n:after {
  background-color: #0b8b2e;
  content: "";
  display: block;
  height: 100%;
  opacity: 0;
  transform: scale(1.5);
  width: 100%;
}

#kyma_owl_slider .kyma_owl_p > span, #kyma_owl_slider .kyma_owl_n > span {
  background-color: #229296;
  display: block;
  position: absolute;
  z-index: 1;
  height: 5px;
  width: 5px;
}

#kyma_owl_slider .kyma_owl_n > span {
  left: 25px;
  top: 21px;
}

.owl-controls .owl-page, .owl-controls .owl-buttons div {
  cursor: pointer;
}

#kyma_owl_slider .owl-controls, .feature_icon_slider .owl-controls, .content_slider .owl-controls {
  text-align: center;
}

.owl-controls {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nav {
  background-color: #178E94;
}

// Page Accueil
// transhépate en chiffres
.bg_color1 {
  background-color: #11494c;
}

// carousel

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
}
.carousel-item {
  position: relative;
  display: block;
}

.carousel-caption:hover {
  display: block;
}

.carousel .carousel-caption {
  display: none;
}

.carousel-item {
  position: relative;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

// body {
//   font-size: 1rem!important;
// }

// .text-muted {
//   font-size: 0.8rem!important;
// }

// main {
//   padding: 60px 10px 0;
// }

// header nav.navbar {
//   opacity: 0.90!important;
// }

// .dropdown-menu-dark {
//   background-color: darkgreen!important;
// }

// .text-title-h1, a.text-title-h2:hover  {
//   color: navbar-dark-hover-color!important;
// }

// .text-title-h2, a.text-title-h1:hover, label {
//   color: #bff!important;
// }

// .bg-post {
//   background-color: post-bg!important;
// }

// li.nav-item {
//   margin: 0 8px 0 8px!important;
// }

// .card {
//   border-radius: 11px!important;
//   box-shadow: rgba(0, 0, 0, 0.23) 0px 4px 8px, rgba(0, 0, 0, 0.33) 0px 4px 8px!important;
// }

// .card-header:first-child {
//   border-radius: 11px 11px 0 0 !important;
// }

// .card-footer:last-child {
//   border-radius: 0 0 11px 11px!important;
// }

// label {
//   margin-bottom: 10px!important;
//   text-transform: uppercase!important;
//   font-weight: bold!important;
//   font-size: 1rem!important;
//  }

/*--------------------  MESSAGES D'ALERTES --------------------*/

#messages {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    top: 200px;
    right: 0;
    left: 0;
    z-index: 920;
    opacity: 0.75;
}

#messages .alert {
  width: 100ww!important;
  padding: 0.5rem 0.5rem!important;
  margin-bottom: 0!important;
  border: none!important;
  border-radius: 0!important;
}

.counter_a .counter .icon:after {
  content: "";
  display: block;
  height: 65px;
  left: 0;
  position: absolute;
  top: 0;
  width: 65px;
  opacity: 0;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
}


/*------------------------ PAGINATION -------------------------*/

//  .page-item.active .page-link {
//     background-color: dark!important;
// }

//  .page-item .page-link {
//     background-color: post-bg!important;
//     border-color: dark!important;
// }

// .page-item .page-link:hover {
//     background-color: dark!important;
// }

// .page-item .page-link:focus, .page-item .page-link.focus {
//   box-shadow: none!important;
// }

/*---------------------------- CKEDITOR  ---------------------------*/

/* .cke_chrome, .cke_1.cke_chrome {
    border-color: red!important;
}

.cke_1 .cke_top {
    background-color: red!important;
    border-bottom-color: red!important;
}
 */