/* VARIABLES SCSS */
// $gray-800: #303030 !default;

// $red:     #e74c3c !default;
// $orange:  #fd7e14 !default;
// $yellow:  #f39c12 !default;

// $dark: #2c4866 !default;

// $body-bg: #0e1e2e !default;

// $navbar-dark-color:       rgba(#fff, .90) !default;
// $navbar-dark-hover-color: #ffb !default;

// // Components
// $border-radius:    5px !default;
// $border-radius-lg: 5px !default;
// $border-radius-sm: 3px !default;

// $colors: (
//   "blue":       $blue,
//   "indigo":     $indigo,
//   "purple":     $purple,
//   "pink":       $pink,
//   "red":        $red,
//   "orange":     $orange,
//   "yellow":     $yellow,
//   "green":      $green,
//   "teal":       $teal,
//   "cyan":       $cyan,
//   "white":      $white,
//   "gray":       $gray-600,
//   "gray-dark":  $gray-800
// );




/* IMPORTS */
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootswatch/dist/cosmo/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/cosmo/bootswatch";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

body {
  background-color: #11494C!important;
}

// .card-brochure {
//   margin: auto!important;
//   padding: auto!important;
//   border: solid 5px #66dbbe!important;
//   border-radius:25px 25px 0 0!important;
// }

.textarea {
  float: center!important;
  height: auto!important;
  background-color: #0f56b8!important;
  // overflow-x: hidden;
}

.img-fluid {
  box-shadow: 0 0 12px 12px #73e0ed inset;
}

.green {
  opacity:.8!important;
  background-color: #00892d!important;
  text-align: center!important;
}

#inlineFrameExample{
  border-radius: 50px;
  border: solid 25px #00892d;
  opacity:.8;
}

body main {
  position: relative;
}

// iframe {
//   width: auto;
//   height: auto;
// }

.color:hover {
  color: #ffb!important;
  border-radius: 15px;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1;
  background-color: white;
  border: 1px solid #73e0ed;
  transition: box-shadow 0.15s ease-in-out;
}

.bi {
  color: black;
}

.dropdown-item {
  font-size: 22px;
  color: #000000;
  font-weight: bold;
}

.nav-link, .dropdown-item:hover {
  background-color: #8ce6fe;
  color: #fff;
}

.text-color {
  color: white;
  font-weight: bold;

}

.text-c {
  text-align: center!important;
  background-color: #8ce6fe;
}

.link2:hover {
  background-color: #73e0ed!important;
  // font-size: 2rem!important;
  font-style: normal!important;
}

.nav-link2 {
  background-color: #178E94;
  color: black;
}

.nav-link2:hover {
  background-color: #3fb618;
  color: black!important;
}

.carousel-item {
  background-color: #229296;
}

.style-form {
  color: #f9fafc!important;
  font-size: 1.3rem;
  font-style: oblique;
  font-weight: bold;
}

.style-form2 {
  color: #000000!important;
  background-color: #ffffff;
  font-size: 1.3rem!important;
  font-style: oblique;
  font-weight: bold;
  border-radius: 10px;
}

.client_details {
  color: #229296!important;
  display: block!important;
  font-size: 15px!important;
  font-weight: bold!important;
  margin: 10px 0 9px!important;
  text-transform: uppercase!important;
}

.carousel-control-next, .carousel-control-prev {
  font-size: xx-large;
}

.carousel .carousel-inner {
  left: 0;
  right: 0;
  width: 100%;
}

// a .regionale:hover {
//   text-decoration: none;
// }

.regionale:hover {
  color: #d3f6ae!important;
}


.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.d-block {
  position: relative;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.bandeau {
  height: 30rem;
}

.footer {
  background-color: #11494c;
}

.nav-item {
  padding: auto;
  margin-left:15px;
  margin-right:15px;
}

ul li {
  color: black!important;
}

// h5 div a:hover {
//   background-color: #d7f7ba!important;
//   color: #fff!important;
// }

div .text-decoration-none:hover {
  color: whitesmoke!important;
}

/* NOS MISSIONS */

.bg_color1 {
  background: #11494C;
}
.content_section {
  position: relative;
}
.white_section {
  color: #ffffff;
}

.title_banner {
  // padding: 24px 0 25px;
  position: relative;
  margin-bottom: 5px;
}

.row_spacer, .icons_spacer {
  padding-bottom: 48px;
  padding-top: 48px;
}

.icons_spacer {
  margin-bottom: -45px!important;
  padding-bottom: 90px!important;
  padding-top: 90px!important;
}

.icon_boxes_con.style2.solid_icon .service_box .icon i {
  background: none;
  position: relative;
  z-index: 1;
}

.icon_boxes_con.style2.solid_icon .service_box .icon {
  background: #fff;
  background: none;
  height: 65px;
  line-height: 65px;
  width: 65px;
  border-radius: 25px;
}

.icon-circle {
  background-color: #10b447;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.icon-circle:hover {
  background-color: #229296;
  color: #11494C;
  transition: all 0.2s ease;
}

.icon_boxes_con.style2.solid_icon .service_box .icon {
  background: #fff!important;
  background: none!important;
  height: 65px!important;
  line-height: 65px!important;
  width: 65px!important;
  top: 0!important;
}

.icon_boxes_con.style2.solid_icon .service_box > .icon:before {
  content: "";
  display: block!important;
  height: 100%!important;
  position: absolute!important;
  width: 100%!important;
  z-index: 1!important;
  left: 50%!important;
  top: 50%!important;
  opacity: 0!important;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(1.2)!important;
  transform: translateY(-50%) translateX(-50%) scale(1.2)!important;
}

footer .card {
  background-color:#11494C;
}

header {
  position: sticky!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
  width: 100vw!important;
  z-index: 999;
}



// div ul li .contact {
//   text-decoration: underline;
// }

.bg_gray {
  background: #f9fafc!important;
  border-bottom: 1px solid #eaebed!important;
  border-top: 1px solid #eaebed!important;
}

/* MON SCSS */

		/* --------- BUTTONS -----------*/
    /*--------partie login----------*/

.inscription-login {
  color: #fff;
  background-color: #11494C;
  font-size:1.5rem;
  border-radius:25px;
  border:solid 3px #229296;
  margin: 2rem;
  padding: .5rem;
  text-decoration: none;
  font-weight: bold;
  text-transform: lowercase;
}

.inscription-login:hover {
  color:#000000!important;
  background-color: #229296!important;
  border-radius:50px!important;
  border:solid 3px #000000!important;
}

.inscription-valid {
  color: #fff;
  text-align: center;
  background-color: #095a09;
  font-size:1.5rem;
  border-radius:25px;
  border:solid 3px #229296;
  margin: 15px;
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
}

.inscription-valid:hover {
  color:#000000;
  background-color: #229296;
  border-radius:25px!important;
  border:solid 3px #000000!important;
}

.inscription-oubli {
  color: #fff!important;
  font-size:1.5rem!important;
  border-radius:25px!important;
  border:solid 3px #229296!important;
  font-weight: bold!important;
}

.inscription-oubli:hover {
  color:#000000!important;
  background-color: #229296!important;
  border-radius:25px!important;
  border:solid 3px #000000!important;
}

.bouton-RaL {
  text-align: center;
  color: #fff!important;
  background-color: #229296!important;
  font-size:1.5rem!important;
  border-radius:25px!important;
  border:solid 3px #73e0ed!important;
  margin: 2rem!important;
  padding:.5rem!important;
  text-decoration: none!important;
  font-weight: bold!important;
}

.bouton-RaL:hover {
  color:#000000!important;
  font-size: 1.5rem!important;
  background-color: #229296!important;
  border-radius:25px!important;
  border:solid 3px #000000!important;
}

/*-----------------------------------*/

/*----------TITRE ET CADRE----------*/

.titre {
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
  text-align: center!important;
}

.titre2 {
  color: #73e0ed!important;
  font-size: 2rem!important;
  padding: .5rem 2rem .5rem 2rem!important;
  font-style: italic!important;
  text-transform: uppercase!important;
  background-color:#73e0ed!important;
  border-radius: 25px!important;
  background-color: #229296!important;
}

.titre3 {
  color: black!important;
  font-size: 1.2rem!important;
  padding: .5rem 2rem .5rem 2rem!important;
  font-style: italic!important;
  text-transform: lowercase!important;
  background-color:#73e0ed!important;
  border-radius: 25px!important;
  background-color: #229296!important;
  font-weight: bold!important;
}

.cadre {
  text-align: center!important;
  background-color: #ffffff!important;
  margin-top: 3rem!important;
  margin-bottom: 5rem!important;
  text-align: left!important;
  border: solid 25px #229296!important;
  border-radius: 50px!important;
  padding: 30px!important;
}

.cadre2 {
  text-align: center!important;
  background-color: #fff!important;
  border-radius: 25px!important;
}

.cadre3 {
  border: solid 4px #11494C!important;
  border-radius: 25px!important;
  color: #11494C!important;
  margin: 2rem!important;
  font-weight: bold!important;
  font-size: 1rem!important;
  text-transform: lowercase!important;
}

.cadre4 {
  color: #11494C!important;
  padding-top: 1rem!important;
  font-weight: bold!important;
  text-decoration: underline!important;
  font-size: 1.2rem!important;
  font-style: italic!important;
}

.cadre7 {
  size: 500px!important;
}

article {
  column-count: 1;
  column-gap: normal;
}

.separate {
  border-left: solid 4px #11494C;
}

.nos-perm {
  font-size: 1.75rem;
  color: black;
  font-style: italic;
}

.formulaire {
  font-size: 1.25rem;
  font-style: italic;
  text-decoration: none;
  padding-left: 2rem;
}

.formulaire:hover {
  background-color: #ffb!important;
}

/*-------MENTIONS-LEGALES---------*/

.rgpd {
  font-size: 2rem;
  text-decoration: underline;
  color: #229296;
  font-weight: bold;
}

.rgpd-text {
  font-size: 1.5rem;
  color: black;
  font-style: italic;
  font-weight: bold;
}

.logoM {
  margin-bottom: 2rem;
  text-align: center;
  height: 240px;
  width: 340px;
  border-radius: 25px;
  background-color: #11494C;
  box-shadow: 12px -8px 8px #072a2c;
  border-top:solid 2px #ffb;
  border-right:solid 3px #ffb;
}

.logoM2 {
  font-family: 'Times New Roman', Times, serif!important;
  font-size: 2rem!important;
  color: #fff!important;
  font-style: italic!important;
  font-weight: bold!important;
  text-align: center!important;
  text-shadow: 1px -1px 2px #ddd!important;
}

.soutient {
  color: #ffffff!important;
  font-style: italic!important;
  font-size: 2rem!important;
  text-transform: uppercase!important;
  background-color: #00892d!important;
  border-radius: 10px!important;
  font-weight: bold!important;
  margin-bottom: 2rem!important;
}

.green2 {
  font-size: 1.5rem;
  color: #ffffff;
  font-style: italic;
}

.infos {
  color: #ffb!important;
  font-size: 2rem!important;
  font-style: italic!important;
}

.card-info {
  background-color: #11494c!important;
  text-align: center!important;
  color: #ffb!important;
  font-size: 2rem!important;
  font-weight: bold!important;
}

.card-text-tournesol {
  text-align: center!important;
  text-transform: capitalize!important;
  font-style: italic!important;
  font-weight: bold!important;
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
  font-size: 1.7rem!important;
  color: #11494C!important;
}

.card-text2 {
  margin-left: 1rem!important;
  margin-right: 1rem!important;
  padding: 1rem!important;
  font-style: italic !important;
  text-transform: capitalize !important;
  font-weight: bold !important;
  font-size: 2rem !important;
  color: #11494C !important;
}

.regionales {
  background-color: #8ce6fe!important;
  font-style: italic!important;
  font-size: 2rem;
  text-transform: uppercase!important;
  text-align: center!important;
  color: #11494C!important;
  font-weight: bold!important;
}

.benevolat1 {
  color: #229296;
  font-size: 1.5rem;
}
.benevolat2 {
  color: black;
  font-size: .8rem;
}

.card-body {
  text-align: center!important;
  color: black!important;
  font-size: 1rem!important;
  font-weight: bold!important;
}

.card-body2 {
  text-align: center!important;
  color: darkorange!important;
  font-size: 2rem!important;
  font-weight: bold!important;
  margin-top: 5rem;
}

.card-body3 {
  margin-left: auto!important;
  text-align: left!important;
  color: #ffffff!important;
  font-size: 1.5rem!important;
  font-weight: bold!important;
  font-style: italic!important;
  text-transform: uppercase!important;
}

.card-body4 {
  margin-left: 1rem!important;
  margin-right: 1rem!important;
  margin-top: 2rem!important;
  margin-bottom: 2rem!important;
  background-color:#8ce6fe!important;
  border-radius: 15px!important;
  color: #000000!important;
  // font-size: 1.5rem!important;
  // font-style: italic!important;
}

.img-responsive {
  min-height: 300px;
  min-width: 200px;
  border-radius: 15px 15px 0 0!important;
  padding: 0!important;
  margin: 0!important;
}

.don {
  font-size: 3rem!important;
  }

#logoimg {
  height: 60px!important;
  width: 200px!important;
  border-radius: 5px!important;
}

.value {
  color: #ffb;
  font-size: 2rem;
}

.value2 {
  color: #ffb;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
}

.icone {
  font-size: 3rem;
  color: #ffb;
}

@media screen and (max-width: 800px)
{
  .card-title {
    font-size: 2.5rem!important;
    font-weight: bold!important;
  }
  .card-text {
    font-size: 2rem!important;
  }
  .img-responsive {
    max-height: 300px!important;
    max-width: 200px!important;
    padding: 0!important;
    margin: 0!important;
  }
  .cadre5 {
    width: 800px;
  }
  .cadre6 {
    width: 800px;
  }
  .cadre7 {
    size: 500px!important;
  }
  .rgpd {
    font-weight: bold!important;
    font-size: 2rem!important;
  }
  .rgpd-text {
    font-weight: bold!important;
    font-size: 1.5rem!important;
  }
  .container {
    min-width: 860px!important;
    min-height: 420px!important;
  }
  .container .logoM {
    min-width: 430px!important;
    min-height: 210px!important;
  }
  .logoM2 {
    font-size: 3rem!important;
  }
  .bouton-RaL {
    font-weight: bold!important;
    font-size:2.5rem!important;
    margin-top: 2rem!important;
    margin-bottom: 0!important;
  }
  .bouton-RaL:hover {
    font-size: 2.5rem!important;
  }
  .titre2 {
    font-size: 3rem;
  }
  .card-text-tournesol {
    text-align: center!important;
    font-size: 2.5rem!important;
  }
  #logoimg {
    height: 60px!important;
    width: 200px!important;
  }
  .accueil {
    height: 60px!important;
    width: 300px!important;
  }
  .ecusson {
    height:240px!important;
    width: 240px!important;
    margin-left: 20px!important;
  }
  .nav-link {
    font-size: 2rem!important;
  }
  .dropdown-item {
    font-size: 2rem!important;
  }
  .card-body {
    font-size: 2.5rem!important;
  }
  .card-body2 {
    font-size: 2.5rem!important;
  }
  .card-body3 {
    font-size: 2rem!important;
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
    text-transform: capitalize!important;
  }
  .card-body4 {
    font-size: 2rem!important;
  }
  .don {
    font-size: 3rem!important;
  }
  .icon_boxes_con.style2.solid_icon .service_box .icon {
    height: 65px;
    line-height: 65px;
    width: 65px;
  }
  .icon-circle {
    width: 65px;
    height: 65px;
  }
  .mission-titre {
    font-size: 2rem;
  }.desc {
    font-size: 1.75rem;
  }
  #tournesol {
    height: 360px;
    width: 800px;
  }
  .donnees {
    color: #ffffff;
    font-size: 2rem;
  }
  .value {
    color: #ffb;
    font-size: 3rem;
  }
  .value2 {
    color: #ffb;
    font-size: 2rem;
  }
  .icone {
    font-size: 3rem;
    color: #ffb;
  }
  .soutient {
    font-size: 3rem;
    color: #ffffff;
  }
  .green2 {
    font-size: 2rem;
  }
  .benevolat1 {
    color: #229296;
    font-size: 2.2rem;
  }
  .benevolat2 {
    color: black;
    font-size: 1.7rem;
  }
  #messages, #loginMessages {
    position: absolute!important;
    text-transform: uppercase!important;
    font-weight: bold!important;
    text-align: center!important;
    top: 60px!important;
    right: 0!important;
    left: 0!important;
    z-index: 920!important;
    opacity: 0.85!important;
  }
  #messages .alert {
  width: 100ww!important;
  padding: 0.5rem 0.5rem!important;
  margin-bottom: 0!important;
  border: none!important;
  border-radius: 0!important;
  }
  .counter_a .counter .icon:after {
  content: "";
  display: block;
  height: 65px;
  left: 0;
  position: absolute;
  top: 0;
  width: 65px;
  opacity: 0;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  }
  .entourage-ext {
    font-size: 2rem!important;
    font-weight: bold!important;
  }
  .underline {
    text-decoration: underline!important;
    font-weight: bold!important;
    font-size: 2rem!important;
  }
  .transhepate {
    font-size: 2.2rem!important;
    color: #095a09!important;
    text-transform: uppercase!important;
    font-weight: bold!important;
  }
  .td {
    font-size: 2rem!important;
  }
}

/*----------------------------------*/
/*---------REGLES BLOG--------------*/

.entourage-ext {
  color: black!important;
  border: solid 25px #229296!important;
  border-radius: 50px!important;
  background-color: #fff!important;
  margin: 3rem 0 3rem 0!important;
  padding: 3rem!important;
  font-size: 1.5rem!important;
  text-align: left!important;
  font-style: italic!important;
  font-weight: bold!important;
}

.underline {
  text-decoration: underline!important;
  font-weight: bold!important;
  font-size: 2rem!important;
  color: #229296!important;
}

.transhepate {
  font-size: 2rem!important;
  color: #095a09!important;
  text-transform: uppercase!important;
  font-weight: bold!important;
}

/*----------------------------------*/

.space {
  height: 10px;
}

.dropdown-menu {
  background-color: #8ce6fe;
  border-radius:15px;
  color: #11494c;
}

.dropdown-menu:hover {
  background-color: #8ce6fe;
  border-radius:15px;
  color: #11494c;
}

.entete {
  background-color: #178E94;
}

.nav {
  background-color: #178E94;
}

// Page Accueil
// transhépate en chiffres
.bg_color1 {
  background-color: #11494c;
}

.text-muted {
  font-size: 1.2rem!important;
}

/*---------NOS PERMANENCES------------*/

.card-header {
  text-decoration: underline!important;
  text-align: center!important;
  color: #ffffff!important;
  font-style: italic!important;
  font-size: 2rem!important;
  font-weight: bold!important;
}
.card-title {
  text-decoration: underline!important;
  color: black!important;
  font-size: 1.5rem!important;
  font-weight: bold!important;
}
.card-text {
  font-size: 1.25rem!important;
  font-style: italic!important;
  color: #000000!important;
  text-align: center!important;
}

.td {
  font-size: 1.5rem!important;
  color: #000000;
  column-gap: normal;
  font-style: italic;
}

/* --------- NOS BROCHURES -----------*/

.icon_boxes {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

/*--------------------  MESSAGES D'ALERTES --------------------*/

#messages, #loginMessages {
    position: absolute!important;
    text-transform: uppercase!important;
    font-weight: bold!important;
    text-align: center!important;
    top: 60px!important;
    right: 0!important;
    left: 0!important;
    z-index: 920!important;
    opacity: 0.85!important;
}

#messages .alert {
  width: 100ww!important;
  padding: 0.5rem 0.5rem!important;
  margin-bottom: 0!important;
  border: none!important;
  border-radius: 0!important;
}

.counter_a .counter .icon:after {
  content: "";
  display: block;
  height: 65px;
  left: 0;
  position: absolute;
  top: 0;
  width: 65px;
  opacity: 0;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
}

/*------------------- NEWSLETTERS IFRAME ----------------------*/

.iframe:hover {
font-size: 2rem;
color: darkblue;
}

/*------------------------ PAGINATION -------------------------*/

.page-item.active .page-link {
  background-color: #11494c!important;

}

.page-item .page-link {
  background-color: #b6e3e5!important;
  border:solid 2px rgba(0, 0, 0, 0.328)!important;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  font-weight: bold;

}

.page-item .page-link:hover {
  background-color: rgba(0, 0, 0, 0.328)!important;
}

.page-item .page-link:focus, .page-item .page-link.focus {
  box-shadow: none!important;
}

/*---------------------------- CAPTCHA  ---------------------------*/

#container-g-recaptcha .g-recaptcha {
  transform: scale(0.65)!important;
  -webkit-transform: scale(0.65)!important;
  transform-origin: 0 0!important;
  -webkit-transform-origin: 0 0!important;
  overflow:hidden /* contexte de formatage */
}

/*---------------------------- CKEDITOR  ---------------------------*/

.cke_chrome, .cke_1.cke_chrome {
  border-color: black!important;
}

.cke_1 .cke_top {
  background-color: #ced4da!important;
  border-bottom-color: black!important;
}