{% extends 'base.html.twig' %}

{% block title %}ERREUR{% endblock %}

{% block body %}

    <div class="container text-center mt-5">

        <h1 class="text-danger">ERREUR</h1>

        <i class="fa-solid fa-10x fa-bomb text-dark my-5"></i>

        <p class="text-warning">Une erreur s'est produite !!</p>

    </div>

{% endblock %}